<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <div class="card">
        <div class="card-header">
            <h2>
                Edit Post
            </h2>
        </div>
        <div class="card-body">
            <form class="edit-post-form">
                <div>
                    <label for="post-title">Title</label>
                    <input name="post-title" type="text" value="{{post.title}}" />
                </div>
                <div>
                    <label for="post-text">Text</label>
                    <input name="post-text" type="text" value="{{post.post_text}}" />
                </div>
                <div>
                    Posted by you on {{format_date
                    post.created_at}}
                    |
                    <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment"
                        post.comments.length}}</a>
                </div>
                <button type="submit">Save post</button>
                <button type="button" class="delete-post-btn">Delete post</button>
            </form>
        </div>
    </div>
</article>


{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>